*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.shape{
    margin-top: 10px; margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;

    /* Bordersize,typeofborder,colorofborder */

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}

h1{
    font-weight: normal;
}

#circle{
    border-radius: 50%; 
    /* circle hoye gese border radious diye */

}

#dimond{
   rotate: 45deg;
   margin-top: 50px;
   translate: 20px 20px;
   /* 1st ta hosse x axis e sore jabe and 2nd ta hosse y axis e upor nich norbe */


  
}

#dimond h1{
    rotate: -45deg;
}
#square:hover{
    background-color: salmon;

}
#dimond:hover{
    background-color: slateblue;
}
#circle:hover{
    background-color: chartreuse;
}